


<form (ngSubmit)="articleSubmit()"> 
  <div class="form-group">
    
      Username
      <input type="text"[(ngModel)]="formCreds.creator"  name="creator" class="form-control"required placeholder="Your username">
   
  </div>
  <div class="form-group">
    
    Message
    <input type="text"[(ngModel)]="formCreds.description"  name="description" class="form-control"required placeholder="message...">
 
</div>
  <br>
                        <button type="submit" class="btn btn-success">Submit</button>

           </form>

           <div  *ngFor="let oneArticle of articles" >

            <div >
                <h4>{{oneArticle.creator}} say : {{oneArticle.description}}</h4>
               
            
                
                </div>
            
                </div> 