<div class="container">

<div *ngIf="!userTruc.currentUser">
        <button> <a routerLink="/login">Log in 
          </a>   </button>

<button> <a routerLink="/signup">Sign up 
           </a>          </button>
</div>

                    <div *ngIf="userTruc.currentUser">



    <h1> HomePage </h1>
<div class="lache">


    <button> <a routerLink="/chat"> Navigate to the chat room</a>
    </button>
      <button> <a routerLink="/weather"> Check the menu</a>

    </button>
<!-- <button *ngIf="userTruc.currentUser.role == 'admin'">
                                            <a class="" routerLink="/admin">All users</a>
</button> -->

</div>
</div>

</div>


