<div class="container">

<div *ngIf="!userTruc.currentUser">
        <button class=" btn btn-outline-success"> <a routerLink="/login">Log in 
          </a>   </button>

<button class=" btn btn-outline-success"> <a routerLink="/signup">Sign up 
           </a>          </button>
</div>

                    <div *ngIf="userTruc.currentUser">



    <h1> Test home page </h1>
    <button class=" btn btn-outline-success"> <a routerLink="/chat"> Navigate to the chat room</a>
       
    </button>
<button class=" btn btn-outline-success" *ngIf="userTruc.currentUser.role == 'admin'">
                                            <a class="" routerLink="/admin">All users</a>
</button>

</div>
</div>